.primaryButton {
  margin: 20px 20px 20px 20px;
  background-color: green;
  width: 100px;
};

.secondaryButton {
  margin: 20px 20px 20px 20px;
  background-color: pink;
};

.btn {
  background-color: lavender;
}

style {
  background-color: lightgreen;
}

.buttonStyle {
  background-color: slateblue;
}
