.card {
  /* background-color: goldenrod; */
  width: 300px;
  height: 150px;
  display: flex;
}

.cardLeft {
  width: 100px;
  background-color: grey;
  background-size: cover;
  background-position: center;
}

.cardRight {
  width: 200px;
  padding-left: 20px;
}

.cardRightTop {
  height: 110px;
  /* background-color: yellow; */
}

.cardRightBottom {
  height: 40px;
  display: flex;
  align-items: flex-end;
  /* background-color: blue; */
}

img {
  width: 50px;
  /* object-fit: cover; */
}