.card {
  /* background-color: goldenrod; */
  width: 320px;
  height: 150px;
  display: flex;
}

.cardLeft {
  width: 120px;
}

.cardRight {
  width: 200px;
  padding-left: 20px;
}

.cardRightTop {
  height: 110px;
  /* background-color: yellow; */
}

.cardRightBottom {
  height: 40px;
  display: flex;
  align-items: flex-end;
  /* background-color: blue; */
}

.topPickDiv {
  display: flex;
  /* background-color: pink; */
  align-items: center;
}

.cardLeft img {
  max-height: 150px;
  max-width: 120px;
  object-fit: contain;
}