.cardDisplay {
  background-color: wheat;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
}

.cardContainer {
  /* background-color: yellow; */
  border: solid grey;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}